@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box; }

:root {
  --fuente-montserrat: "Montserrat", sans-serif;
  --fuente-ptsans: "PT Sans", sans-serif;
  --color-rojo: #ff283f;
  --color-oscuro: #233442;
  --color-gris: #6b6b6b;
  --marquee-width: 100%;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */
  /* defined with JavaScript */
  --marquee-elements-displayed: 1;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 10s); }

.container {
  width: 85%;
  max-width: 1430px;
  margin: 0 auto; }

header {
  position: fixed;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  font-family: var(--fuente-montserrat); }
  header nav {
    padding: 22px 0; }
    header nav .nav1 {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: solid 2px #fff;
      z-index: -1; }
      header nav .nav1 .logo img {
        width: 182px; }
      header nav .nav1 .info {
        display: flex;
        align-items: center; }
        header nav .nav1 .info button {
          background-color: var(--color-rojo);
          padding: 8px 15px;
          font-size: 20px;
          font-weight: 700;
          color: #fff;
          border: none;
          margin-right: 30px;
          cursor: pointer;
          position: relative; }
          header nav .nav1 .info button::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 10px solid var(--color-oscuro);
            border-left: 10px solid transparent;
            right: 0;
            bottom: 0; }
        header nav .nav1 .info ul {
          color: #fff;
          list-style: none; }
          header nav .nav1 .info ul li.idioma {
            font-size: 20px;
            font-weight: 700;
            position: relative; }
            header nav .nav1 .info ul li.idioma img {
              position: relative;
              top: -3px; }
            header nav .nav1 .info ul li.idioma ul {
              width: 100%;
              position: absolute;
              display: none; }
            header nav .nav1 .info ul li.idioma:hover ul {
              display: block; }
            header nav .nav1 .info ul li.idioma a {
              text-decoration: none;
              color: #fff; }
    header nav .nav2 {
      position: relative;
      top: -2px; }
      header nav .nav2 ul {
        color: #fff;
        list-style: none;
        display: flex;
        justify-content: space-around;
        z-index: 2; }
        header nav .nav2 ul li.select {
          border-top: solid 4px #ff283f; }
          header nav .nav2 ul li.select a {
            color: var(--color-rojo); }
        header nav .nav2 ul li {
          display: inline-block;
          padding-top: 10px;
          font-size: 20px;
          font-weight: 700;
          border-top: solid 2px #fff;
          transition: 0.2s ease; }
          header nav .nav2 ul li a {
            text-decoration: none;
            color: #fff;
            transition: 0.2s ease; }
          header nav .nav2 ul li:hover {
            border-top: solid 4px #ff283f; }
            header nav .nav2 ul li:hover a {
              color: var(--color-rojo); }
        header nav .nav2 ul li.fex {
          position: relative; }
          header nav .nav2 ul li.fex ul {
            position: absolute;
            left: 0;
            display: inline-block;
            display: none;
            width: 550px;
            padding-top: 10px; }
            header nav .nav2 ul li.fex ul::before {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-bottom: 20px solid #fff;
              border-right: 20px solid transparent;
              top: 0;
              left: 0;
              z-index: -2; }
            header nav .nav2 ul li.fex ul li {
              display: inline-block;
              border-top: none;
              width: 100%;
              padding: 5px 0;
              padding-left: 20px;
              padding-right: 10px;
              transition: 0.2s ease;
              background-color: #fff; }
              header nav .nav2 ul li.fex ul li a {
                font-size: 20px;
                color: var(--color-gris);
                transition: 0.2s ease;
                width: 100%; }
              header nav .nav2 ul li.fex ul li:hover {
                background-color: var(--color-rojo); }
                header nav .nav2 ul li.fex ul li:hover a {
                  color: #fff; }
          header nav .nav2 ul li.fex:hover ul {
            width: 550px;
            display: block;
            animation: bloque-visible 0.2s ease-out forwards;
            transform-origin: top center; }

@keyframes bloque-visible {
  0% {
    opacity: 0;
    transform: rotateX(-90deg); }
  100% {
    opacity: 1;
    transform: rotateX(0deg); } }

header.sticky::before {
  transform: translateY(0%); }

header::before {
  /* background-image: url(../icons/Group05.svg); */
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 28px;
  background-position-y: 30px;
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 150px;
  width: 100%;
  background-color: var(--color-oscuro);
  z-index: -2;
  transition: transform 0.5s ease;
  transform: translateY(-100%); }

section.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: var(--fuente-montserrat);
  overflow: hidden; }
  section.home .home-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -3; }
    section.home .home-bg video {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%); }
  section.home .container1 {
    width: 85%;
    max-width: 1244px;
    margin: 0 auto; }
  section.home .content {
    position: relative;
    transform: translateY(51px);
    display: flex;
    justify-content: center; }
    section.home .content .text {
      padding-right: 155px;
      position: relative; }
    section.home .content img {
      position: absolute;
      top: -174px;
      right: 0px;
      z-index: -2; }
  section.home h1 {
    color: #fff;
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 110px;
    width: 959px; }
  section.home p {
    color: #fff;
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase; }
  section.home .flecha {
    position: absolute;
    right: 211px;
    bottom: 31px; }

section.about {
  padding: 100px 0; }
  section.about .content {
    display: flex;
    align-items: center; }
    section.about .content .text {
      padding-left: 50px; }
      section.about .content .text .container {
        margin-left: 0; }
      section.about .content .text h1 {
        font-size: 140px;
        font-weight: 700;
        font-family: var(--fuente-montserrat);
        color: var(--color-rojo);
        line-height: 130px; }
      section.about .content .text h2 {
        font-size: 67px;
        font-weight: 700;
        font-family: var(--fuente-montserrat);
        color: var(--color-oscuro); }
      section.about .content .text p {
        font-size: 26px;
        font-family: var(--fuente-ptsans);
        color: var(--color-gris);
        margin-bottom: 30px; }
      section.about .content .text a {
        text-decoration: none;
        color: var(--color-rojo);
        font-size: 20px;
        font-weight: 700;
        font-family: var(--fuente-montserrat); }
        section.about .content .text a img {
          position: relative;
          top: 1px; }

section.details {
  padding: 100px 0;
  padding-top: 0px; }
  section.details .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    section.details .content div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 324px; }
      section.details .content div p {
        margin-top: 18px;
        font-size: 30px;
        font-family: var(--fuente-ptsans);
        font-weight: 700;
        color: var(--color-oscuro);
        text-align: center; }

section.services {
  padding-top: 84px;
  background-color: var(--color-oscuro);
  font-family: var(--fuente-montserrat); }
  section.services .container {
    display: flex;
    color: #fff;
    justify-content: space-between; }
    section.services .container h2 {
      font-size: 40px;
      color: #fff;
      text-transform: uppercase; }
    section.services .container a {
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      font-weight: 700; }
  section.services .services {
    display: flex;
    justify-content: space-between;
    margin-top: 40px; }
    section.services .services .item {
      position: relative; }
      section.services .services .item .filtro {
        background: linear-gradient(179.9deg, rgba(35, 52, 66, 0) 13.24%, rgba(35, 52, 66, 0) 13.25%, #233442 99.91%);
        width: 100%;
        height: 100%;
        position: absolute; }
      section.services .services .item .info {
        bottom: 0;
        position: absolute;
        color: #fff;
        padding: 26px 30px; }
        section.services .services .item .info p {
          font-size: 25px;
          font-weight: 700;
          margin-bottom: 15px; }
        section.services .services .item .info a {
          text-decoration: none; }

.marquee {
  width: var(--marquee-width);
  overflow: hidden;
  position: relative;
  overflow: hidden;
  padding: 80px 0; }

.marquee-content {
  font-family: var(--fuente-montserrat);
  font-weight: 700;
  font-size: 136px;
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite; }
  .marquee-content li {
    white-space: nowrap;
    color: #fff;
    margin: 0 15px;
    text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000, 2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, 2px 0 0 #000; }

@keyframes scrolling {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); } }

footer .footer1 {
  border-top: solid 2px var(--color-oscuro);
  border-bottom: solid 2px var(--color-oscuro); }

footer .content {
  display: flex;
  justify-content: space-between;
  padding: 34px 0;
  align-items: center; }
  footer .content .text p {
    font-size: 30px;
    font-family: var(--fuente-ptsans);
    font-weight: 700;
    color: #233442; }
  footer .content .redes {
    display: flex;
    flex-direction: column; }
    footer .content .redes a {
      text-decoration: none;
      color: var(--color-gris);
      display: flex;
      align-items: center;
      padding: 10.5px 0;
      font-family: var(--fuente-ptsans); }
      footer .content .redes a img {
        margin-right: 15px; }

footer .pie {
  padding: 10px 0;
  display: flex;
  justify-content: space-between; }
  footer .pie p {
    font-size: 16px;
    font-family: var(--fuente-ptsans); }

/* pagina de nosotros */
section.title-nosotros {
  position: relative; }
  section.title-nosotros img {
    width: 100%; }
  section.title-nosotros .content-title {
    background-image: url(../img/banner-nosotros.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: initial;
    background-position: top;
    height: 617px; }
  section.title-nosotros h1 {
    font-family: var(--fuente-montserrat);
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 900;
    color: #efefef;
    width: 520px;
    position: absolute;
    bottom: 50px; }

section.text .content {
  display: flex; }
  section.text .content .part1 img {
    width: 100%;
    max-width: 703px; }
  section.text .content .part2 {
    width: 50%;
    padding-top: 45px; }
    section.text .content .part2 p {
      font-family: var(--fuente-ptsans);
      font-size: 26px;
      color: var(--color-gris);
      margin-bottom: 35px;
      text-align: justify; }

section.info {
  background-color: #233442;
  position: relative; }
  section.info .content {
    display: flex;
    align-items: center; }
  section.info .container {
    margin-right: 0;
    width: 72%; }
  section.info .text {
    padding-right: 50px; }
    section.info .text h2 {
      font-family: var(--fuente-montserrat);
      font-weight: 700;
      font-size: 40px;
      color: #fff; }
    section.info .text p {
      font-family: var(--fuente-ptsans);
      font-weight: 400;
      font-size: 26px;
      color: #fff; }
    section.info .text .mision,
    section.info .text .vision {
      padding: 20px 0; }

section.valores {
  padding: 95px 0; }
  section.valores .content {
    display: flex;
    align-items: center; }
  section.valores .text {
    padding-left: 50px; }
    section.valores .text .container {
      margin-left: 0;
      width: 74%; }
      section.valores .text .container h2 {
        margin-bottom: 40px;
        font-family: var(--fuente-montserrat);
        font-weight: 700;
        font-size: 40px; }
      section.valores .text .container .item-services {
        display: flex; }
        section.valores .text .container .item-services .barra {
          width: 8px;
          background-color: var(--color-oscuro);
          position: relative;
          left: 15px;
          z-index: -2; }
        section.valores .text .container .item-services img {
          padding-right: 40px;
          padding-top: 7px; }
        section.valores .text .container .item-services h3 {
          font-family: var(--fuente-montserrat);
          font-weight: 700;
          font-size: 30px;
          color: var(--color-oscuro); }
        section.valores .text .container .item-services p {
          font-family: var(--fuente-ptsans);
          font-weight: 400;
          font-size: 26px;
          color: var(--color-gris);
          padding-bottom: 20px; }
      section.valores .text .container .item-services:nth-child(1) .barra {
        margin-top: 8px; }
      section.valores .text .container .item-services:nth-child(3) p {
        padding-bottom: 0px; }

section.history {
  padding: 125px 0;
  background-color: var(--color-oscuro);
  color: #fff; }
  section.history .content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  section.history .part1 {
    width: 50%;
    padding-right: 50px; }
    section.history .part1 h2 {
      text-transform: uppercase;
      font-family: var(--fuente-montserrat);
      font-weight: 700;
      font-size: 40px;
      padding-bottom: 30px; }
    section.history .part1 p {
      font-family: var(--fuente-ptsans);
      font-weight: 400;
      font-size: 26px;
      margin-bottom: 35px; }
  section.history .part2 {
    position: relative;
    width: 50%;
    z-index: 1; }
    section.history .part2 h3 {
      font-family: var(--fuente-montserrat);
      font-weight: 700;
      font-size: 230px; }
    section.history .part2 img {
      position: absolute;
      right: 0;
      top: -44px;
      z-index: -1; }

/* pasgina de servicios general*/
section.title-servicios {
  position: relative; }
  section.title-servicios img {
    width: 100%; }
  section.title-servicios .content-title {
    background-image: url(../img/banner-servicios.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: initial;
    background-position: top;
    height: 617px; }
  section.title-servicios h1 {
    font-family: var(--fuente-montserrat);
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 900;
    color: #efefef;
    width: 520px;
    position: absolute;
    bottom: 50px; }

section.servicios .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px 0;
  grid-gap: 57px; }
  section.servicios .items .item:nth-child(1) {
    grid-column-start: span 2; }
  section.servicios .items .item {
    position: relative; }
    section.servicios .items .item img:nth-child(1) {
      width: 100%; }
    section.servicios .items .item .info {
      padding: 27px 40px;
      position: absolute;
      bottom: 0;
      width: 100%; }
      section.servicios .items .item .info p {
        font-family: var(--fuente-montserrat);
        font-weight: 700;
        font-size: 25px;
        padding-bottom: 5px;
        color: #fff; }
        section.servicios .items .item .info p::before {
          content: "";
          width: 43px;
          height: 4px;
          background-color: #fff;
          position: absolute;
          top: 10px; }

section.contacto {
  padding: 80px;
  background-color: var(--color-rojo); }
  section.contacto .content h2 {
    font-family: var(--fuente-montserrat);
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-align: center; }
  section.contacto .content form {
    margin-top: 50px; }
    section.contacto .content form fieldset {
      display: flex;
      justify-content: space-between;
      border: none;
      flex-wrap: wrap; }
      section.contacto .content form fieldset .form-group {
        width: 48.5%;
        position: relative; }
        section.contacto .content form fieldset .form-group input {
          font-family: var(--fuente-ptsans);
          margin-bottom: 26px;
          height: 64px;
          border: none;
          font-size: 20px;
          width: 100%;
          color: #3e636b;
          background-color: #fff;
          padding: 0 20px;
          padding-top: 8px; }
          section.contacto .content form fieldset .form-group input:focus {
            outline-style: none; }
        section.contacto .content form fieldset .form-group input[type="number"]::-webkit-inner-spin-button,
        section.contacto .content form fieldset .form-group input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0; }
        section.contacto .content form fieldset .form-group input[type="number"] {
          -moz-appearance: textfield; }
        section.contacto .content form fieldset .form-group .form-input:focus ~ label,
        section.contacto .content form fieldset .form-group .form-input:valid ~ label {
          font-size: 14px;
          left: 20px;
          top: 6px; }
        section.contacto .content form fieldset .form-group .form-label {
          position: absolute;
          left: 20px;
          top: 20px;
          color: var(--color-oscuro);
          font-family: var(--fuente-ptsans);
          font-size: 18px;
          cursor: text;
          transition: 0.1s linear;
          z-index: 1; }
      section.contacto .content form fieldset input[type="submit"] {
        width: 150px;
        background-color: var(--color-oscuro);
        border: none;
        color: #fff;
        font-family: var(--fuente-montserrat);
        font-size: 20px;
        font-weight: 700;
        height: 44px;
        position: relative; }
      section.contacto .content form fieldset .center {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 50px; }
        section.contacto .content form fieldset .center .enviar {
          position: relative;
          width: fit-content; }
          section.contacto .content form fieldset .center .enviar::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 10px solid var(--color-rojo);
            border-left: 10px solid transparent;
            right: 0;
            bottom: 0;
            z-index: 2; }
